<h1>Profile</h1>
<section>
    <h2>Username: {{currentUser.username}}</h2>
</section>
<section>
    <h2>Rent history</h2>
    <table>
        <thead>
            <tr>
                <td>Car</td>
                <td>Duration</td>
            </tr>
        </thead>
        <tbody>
            {{#each cars}}
            <tr>
                <td>{{brand}} {{model}}</td>
                <td>{{days}} days</td>
            </tr>
            {{else}}
            <tr>
                <td colspan="2">
                    <i>No rent history.
                        <a href="/cars/all">Rent now</a>
                    </i>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>