<form method="POST">
    Brand
    <input type="text" name="brand" value="{{brand}}" />
    <br /> Model
    <input type="text" name="model" value="{{model}}" />
    <br /> Year
    <input type="text" name="year" value="{{year}}" />
    <br /> Price Per Day
    <input type="number" name="pricePerDay" value="{{pricePerDay}}" />
    <br /> Image
    <input type="url" name="image" value="{{carUrl}}" />
    <br />
    <input type="submit" value="Edit" />
</form>