<div class="content">
    <img src="{{bookPoster}}" alt="" />
    <h3>{{bookTitle}}</h3>
    <h3>{{bookAuthor}}</h3>
    <p>Released {{bookYear}}</p>
    <button onclick='location.href="/book/delete/{{_id}}"' class='deleteBtn'>Delete
</div>